/* COMMON */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.list {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    }

button {
    cursor: pointer;
    font-family: inherit;
	color: currentColor;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    padding: 0 16px;
    margin: 0 auto;
}

  /* HEADER */

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logotype {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logotype-span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
  
.navigation-list {
    display: flex;  
}

.address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* HERO */

.hero {
    background-color:#2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), 
    rgba(46, 47, 66, 0.70)), 
    url("../images/hero/people-office-image.jpg");
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;  
}

@media screen and (max-width:768px){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), 
        rgba(46, 47, 66, 0.70)), url(../images/hero/people-office-image-mobile.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (max-width:768px), 
screen and (min-resolution: 2dppx) and (max-width:768px),
screen and (min-device-pixel-ratio: 2) and (max-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), 
        rgba(46, 47, 66, 0.70)), 
        url("../images/hero/people-office-image-mobile@2x.jpg");
    }
}

@media screen and (min-width:768px){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), 
        rgba(46, 47, 66, 0.70)), url(../images/hero/people-office-image-tablet.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:768px), 
screen and (min-resolution: 2dppx) and (min-width:768px),
screen and (min-device-pixel-ratio: 2) and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), 
        rgba(46, 47, 66, 0.70)), 
        url("../images/hero/people-office-image-tablet@2x.jpg");
    }
}

@media screen and (min-width:1156px){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), 
        rgba(46, 47, 66, 0.70)), url(../images/hero/people-office-image.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width:1156px), 
screen and (min-resolution: 2dppx) and (min-width:1156px),
screen and (min-device-pixel-ratio: 2) and (min-width:1156px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), 
        rgba(46, 47, 66, 0.70)), 
        url("../images/hero/people-office-image@2x.jpg");
    }
}

.main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.order-service-bttn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:#4d5ae5;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-bttn:hover,
.order-service-bttn:focus {
    background-color:#404bbf;
}

        /* BENEFITS */

.benefits-sec {
    padding: 120px 0; 
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 72px) / 4);
}

.benefits-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px; 
}

.benefits-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon-container {
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    }

    /* OUR TEAM */

.team-sec {
    background-color: #f4f4fd;
    padding: 120px 0;

}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}

.team-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.team-status {
    padding: 32px 0;
}

.social-list-team {
    display: flex;
    justify-content: center; 
    gap: 24px;
}

.social-item-team {
    width: 40px;
    height: 40px;
}

.social-link-team {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team:hover,
.social-link-team:focus {
    background-color: #404bbf;
}

.social-icon-team {
    fill: #f4f4fd;
}

/* OUR PORTFOLIO */

.portfolio-sec {
    padding-top: 120px; 
    padding-bottom: 120px; 
}

.portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
    cursor: pointer;
}

.portfolio-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-bottom: 8px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px; 
    row-gap: 48px; 
}

.portfolio-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}

.transform-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5; 
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay {
   transform: translateY(0%);
}

/* FOOTER */

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logotype-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block; 
    margin-bottom: 17px;
}

.logotype-span-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    position: relative;
}

.over-container {
    margin-right: 120px;
}

.footer-social-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px; 
}

.list-footer {
    display: flex; 
    gap: 16px;
}

.item-footer {
    height: 40px;
    width: 40px;
}

.link-footer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #f4f4fd;
}

/* FOOTER FORM */

.mailing-list-footer {
    position: absolute;
    right: 0;
    top: 0;
    /* або задати margin-left: 80px; */
}

.mailing-list-paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color:#ffffff;  
}

.mailing-list-form {
    display: flex;
    gap: 24px;
}

.mailing-list-input {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    padding-left: 16px;
    width: 264px; 
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    color: #ffffff;
}

.mailing-list-btn {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    color: #ffffff;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailing-list-icon {
    margin-left: 16px;
}

/* MOBILE STYLES */

@media screen and (max-width: 767px) {
    .container {
        width: 320px;
    }

    .navigation-list {
        display: none;
    }
    
    .address-list {
        display: none;
    }

    .address-list {
        display: none;
    }

    .navigation-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }
    
    .navigation-icon {
        fill: #2F2F37;
    }
    
    .container-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 17.5px 0;
    }
    
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background-color: #ffffff;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-menu.is-open {
        transform: translateX(0%);
    }
    
    .mobile-menu-container {
        position: relative;
        padding-top: 72px;
    }
    
    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1); 
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    }
    
    .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:focus {
        background-color: #404BBF;
        fill: #FFFFFF;
        border: none;
    }
    
    .modal-close-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .navigation-link-mobile-menu {
        color:  #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11; 
        letter-spacing: 0.02em;
        text-transform: capitalize;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .navigation-link-mobile-menu-first{
        color: #404bbf; 
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11; 
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    
    .navigation-link-mobile-menu:hover,
    .navigation-link-mobile-menu:focus {
        color: #404bbf;
    }
    
    .navigation-item-mobile-menu {
        margin-bottom: 40px;
    }
    
    .navigation-item-mobile-menu:last-child {
        margin-bottom: 168px;
    }
    
    .address-link-mobile-menu {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2; 
        letter-spacing: 0.02em;
        color:#434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-link-mobile-menu-first {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2; 
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #4D5AE5;
    }
    
    .address-link-mobile-menu:hover,
    .address-link-mobile-menu:focus {
        color: #404bbf;
    }
    
    .address-item-mobile-menu {
        margin-bottom: 24px;
    }
    
    .address-item-mobile-menu:last-child {
        margin-bottom: 48px;
    }
    
    .social-list-mobile-menu {
        display: flex;
        justify-content: space-between;
    }
    
    .social-item-mobile-menu {
        width: 40px;
        height: 40px;
    }
    
    .social-link-mobile-menu {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .social-link-mobile-menu:hover,
    .social-link-mobile-menu:focus {
        background-color: #404bbf;
    }
    
    .social-icon-mobile-menu {
        fill: #f4f4fd;
}

/* HERO */

    .main-title {
        max-width: 224px;
        margin-bottom: 72px;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11; 
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .hero {
        padding: 72px 0;
    }

    /* BENEFITS */

    .icon-container {
        display: none;
    }

    .benefits-list-title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11; 
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .benefits-list-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.02em;
    }

    .benefits-sec {
        padding: 96px 0; 
    }

    .benefits-list {
        display: block;
    }

    .benefits-list-item {
        width: 100%;
        padding-bottom: 72px;
    }

    .benefits-list-item:last-child {
        padding-bottom: 0;
    }

        /* OUR TEAM */

    .team-sec {
        padding: 96px 0;
    }

    .team-list {
        display: flex;
        gap: 72px;
        flex-wrap: wrap;
    }
    
    .team-list-item {
        width: calc((100% - 24px) /1);
    }

     /* OUR PORTFOLIO */

     .portfolio-sec {
        padding-top: 80px; 
        padding-bottom: 112px; 
    }

    .portfolio-list-item {
        width: 288px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08); 
    }
    
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
    }
        /* FOOTER */
    
    .over-container {
        margin-right: 0;
        text-align: center;
    }

    .page-footer {
        padding: 96px 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        padding-left: 16px;
        flex-wrap: wrap;
        column-gap: 0;
        justify-content: center;
    }

    .mailing-list-footer {
        position: relative;
        text-align: center;
    }

    .footer-text {
        margin-bottom: 72px;
    }

    .mailing-list-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 16px;
    }

    .footer-social-text {
        text-align: center;
    }
        
    .logotype-footer{
        text-align: center;
    }

    .footer-text {
        text-align: start;
    }

    .icon-container-footer {
        margin-bottom: 72px;
    }

    .mailing-list-input {
        opacity: 0.3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }
}

/* TABLET STYLES */

@media screen and (min-width: 767px) {
    .container{
        width: 768px;
    }

    .navigation-list {
        display: flex;
    }

    .navigation-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .container-main {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
    }

    .main-navigation {
        display: flex; 
        align-items: center; 
    }

    .logotype {
        margin-right: 120px;
    }

    .navigation-item {
        margin-right: 40px;
        color: #404bbf; 
    }
    
    .navigation-item:last-child {
        margin-right: 0;
    }

    .navigation-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.02em;
        color: #2e2f42; 
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .navigation-link-first {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.02em;
        color: #404BBF; 
        position: relative;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-link-first::after {
        content:'';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px; 
        background-color: #404bbf; 
        border-radius: 2px;
        width: 100%;
    }

    .address-list {
        display: flex;
        gap: 12px;
        flex-direction: column;
        padding: 16px 0;
    }

    .address-link {
        color: #434455;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.16px;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        /* HERO */

    .main-title {
        margin-bottom: 36px;
    }

    .hero {
        padding: 112px 0;
    }

     /* BENEFITS */

     .icon-container {
        display: none;
    }

    .benefits-list-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11; 
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .benefits-list-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.02em;
    }

    .benefits-sec {
        padding: 96px 0; 
    }

    .benefits-list-item {
        width: 356px
    } 

     .benefits-list {
        flex-wrap: wrap;
        row-gap: 72px;
    } 

      /* OUR TEAM */

      .team-sec {
        padding: 96px 0;
    }

    .team-list-item {
        width: 264px;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

     /* OUR PORTFOLIO */

     .portfolio-sec {
        padding-top: 96px; 
        padding-bottom: 96px; 
    }

    .portfolio-list-item {
        width: calc((100% - 48px) /2);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08); 
    }
    
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px; 
        row-gap: 72px; 
    }
        /* FOOTER */

        .over-container {
            margin-right: 0;
        }

        .page-footer {
            padding: 96px 0;
        }

        .footer-container {
            display: flex;
            flex-direction: row;
            padding-left: 108px;
            flex-wrap: wrap;
            column-gap: 24px;

        }

        .mailing-list-footer {
            position: relative;
        }

        .footer-text {
            margin-bottom: 72px;
        }

        .mailing-list-input {
            opacity: 0.3;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }
}

@media screen and (min-width: 1158px) {
    
    .container{
        width: 1158px;
    }
    
    .container-main {
        display: flex;
    }
    
    .main-navigation {
        display: flex; 
        align-items: center;
    }
    
    .logotype {
        margin-right: 76px;
    }

    .navigation-list {
        display: flex;  
    }
    
    .navigation-item {
        margin-right: 40px;
        color: #404bbf; 
    }
    
    .navigation-item:last-child {
        margin-right: 0;
    }

    .navigation-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.02em;
        color: #2e2f42; 
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .navigation-link-first {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.02em;
        color: #404BBF; 
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .navigation-link-first::after {
        content:'';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px; 
        background-color: #404bbf; 
        border-radius: 2px;
        width: 100%;
    }
    
    /* position: relative;
        top: 25px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: -4px;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #404BBF; */
    
    .navigation-link:hover,
    .navigation-link:focus {
        color: #404bbf;
    }
    
    .address-list {
        display: flex;
        gap: 40px;
        padding: 24px 0;
        flex-direction: row;
    }

    .address-link {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; 
        letter-spacing: 0.02em;
        color:#434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-link {
        padding: 24px 0;
    }
    
        /* HERO */

    .hero {
        padding: 188px 0;
    }
    
    .main-title {
        margin-bottom: 48px;
    }

     /* BENEFITS */

     .icon-container {
        display: flex;
    }

    .benefits-sec {
        padding: 120px 0; 
    }
    
    .benefits-list {
        flex-wrap: nowrap;
    }
    
    .benefits-list-item {
        width: calc((100% - 72px) / 4);
    }
    
    .benefits-list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    
    .benefits-list-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /* OUR TEAM */
    .team-sec {
        padding: 120px 0;
    }

    .team-list {
        display: flex;
        gap: 24px;
    }
    
    .team-list-item {
        width: calc((100% - 72px) / 4);
    }

    /* OUR PORTFOLIO */

    .portfolio-sec {
        padding-top: 120px; 
        padding-bottom: 120px; 
    }

    .portfolio-list-item {
        width: calc((100% - 48px) / 3); 
    }
    
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px; 
        row-gap: 48px; 
    }

    /* FOOTER */


    .page-footer {
        padding: 100px 0;
    }
    
    .footer-text {
        margin-bottom: 0;
    }
   
    .footer-container {
        display: flex;
        align-items: baseline;
        position: relative;
        flex-direction: row; 
        padding-left: 0; 
        flex-wrap: nowrap; 
        column-gap: 0; 
    }
    
    .over-container {
        margin-right: 120px;
    }
     
    /* FOOTER FORM */
    
    .mailing-list-footer {
        position: absolute;
        right: 0;
        top: 0;
        /* або задати margin-left: 80px; */
    }
}